# Data
Data/Raw/
Data/Processed/

# Jupyter
*.ipynb_checkpoints

# Environment
.env/
venv/

# Large files
*.tif
*.shp
*.dbf
*.shx
*.prj
*.csv
*.geojsons

config.yml


GDAL-3.10.1-cp312-cp312-win_amd64.whl